<IfModule mod_rewrite.c>
    RewriteEngine On

    # === Handle public Laravel ===
    RewriteCond %{REQUEST_URI} !^/storage
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # === Handle storage tanpa artisan storage:link ===
    RewriteRule ^storage/(.*)$ ../storage/app/public/$1 [L]

</IfModule>
